.filters-panel
    min-width: 226px
    &__button
        border: none
        border-radius: 100px
        background: $main-color
        width: 200px
        height: 51px
        color: #FFF
        font-family: Mulish
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 120%
        letter-spacing: 0.18px
        margin-bottom: 76px
    &__arrow
        margin-left: 18px
    &__text
        color: #000
        font-family: Mulish
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 120%
        letter-spacing: 0.18px
        margin-bottom: 30px
    &__range
        color: #000
        font-family: Mulish
        font-size: 18px
        font-style: normal
        font-weight: 500
        line-height: 120%
        letter-spacing: 0.18px
        margin-bottom: 10px
    &__input-range
        display: block
        width: 189px
        margin-bottom: 37px
    &__level
        list-style: none
        margin: 0
        padding: 0
        margin-bottom: 30px
    &__type
        margin-bottom: 11px
        
    &__style
        margin-left: 12px
        color: #000
        font-family: Mulish
        font-size: 18px
        font-style: normal
        font-weight: 500
        line-height: 120%
        letter-spacing: 0.18px
    &__skill
        list-style: none
        padding: 0
        margin: 0
    
    
        


    

            
                