@import "../base/_mixins"
.filters-panel
    width: 226px
    &__button
        position: relative
        border: none
        border-radius: 100px
        background: $main-color
        width: 200px
        height: 51px
        color: #FFF
        font-family: MulishSemiBold
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 120%
        letter-spacing: 0.18px
        margin-bottom: 76px
    &__arrow
        margin-left: 18px
    &__text
        color: #000
        font-family: MulishSemiBold
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 120%
        letter-spacing: 0.18px
        margin-bottom: 30px
    &__range
        color: #000
        font-family: MulishMedium
        font-size: 18px
        font-style: normal
        font-weight: 500
        line-height: 120%
        letter-spacing: 0.18px
        margin-bottom: 10px
        
    &__level
        list-style: none
        margin: 0
        padding: 0
        margin-bottom: 30px
    &__type
        margin-bottom: 11px
        
    &__style
        margin-left: 12px
        color: #000
        font-family: MulishMedium
        font-size: 17px
        font-style: normal
        font-weight: 500
        line-height: 120%
        letter-spacing: 0.18px
    &__range-wrapper
        margin-bottom: 37px
        position: relative
        z-index: 0
    &__skill
        list-style: none
        padding: 0
        margin: 0
    &__checkbox 
        @include inputs

    &__checkbox::before 
        @include inputs-before(18px)

    &__checkbox:checked::before 
        @include inputs-before-checked

    &__radio 
        @include inputs

    &__radio::before 
        @include inputs-before(14px)
        border-radius: 100%
        

    &__radio:checked::before 
        @include inputs-before-checked

    #range 
        position: absolute
        -webkit-appearance: none
        width: 189px
        height: 1px
        background: $main-color
        outline: none
        opacity: 1
        -webkit-transition: .2s
        transition: opacity .2s
        pointer-events: none

    #range::-webkit-slider-thumb 
        -webkit-appearance: none
        appearance: none
        width: 14px
        height: 14px
        border-radius: 100%
        background: $main-color
        cursor: pointer
        pointer-events: auto
    &__filter
        width: 46px
        height: 46px
        background-color: $main-color
        border-radius: 100%
        margin-left: 15px
        display: none
    &__mobile
        display: block

select
    width: 100%
    height: 100%
    background-color: transparent
    position: absolute
    top: 0px
    right: 0px 
    cursor: pointer
    opacity: 0
    option
        color: white
        background-color: $main-color    
        color: white
        font-family: MulishSemiBold
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 120%
        letter-spacing: 0.18px       



 



    
        


    

            
                