@import "../base/_mixins"
.footer
    background-color: $main-color
    padding: 55px 124px 44px 120px
    &__wrapper
        display: flex
        justify-content: space-between
    &__link
        display: block
        margin-bottom: 13px
        @include footer-text(18px)
        &:hover
            color: white
    &__corp
        text-align: center
        margin-top: 38px
        @include footer-text(18px)